{{ form_start(formApiSettings, {'method': 'POST'}) }}
<div class="my-1">
    {{ form_widget(formApiSettings.what) }}
</div>
<div class="d-flex justify-content-between align-items-center  my-1 gap-1">
    {{ form_widget(formApiSettings.city_autocomplete) }}
    à
    {{ form_widget(formApiSettings.city, {"attr": {'value':user.jobSearchSettings.city.id | default('') }}
    ) }}
    <div class="input-group my-1">
        {{ form_widget(formApiSettings.distance) }}
        <span class="input-group-text" id="distance">
            Kms alentours
        </span>
    </div>
</div>

{{ form_widget(formApiSettings.whatExclude) }}
<div class="input-group my-1">
    {{ form_widget(formApiSettings.maxDaysOld) }}
    <span class="input-group-text" id="maxDaysOld">
        Jours
    </span>
</div>

<div class="form-group my-1">
    <label for="{{ formApiSettings.jobApiServices.vars.id }}">
        {{ formApiSettings.jobApiServices.vars.label }}
    </label>
    {% for choice in formApiSettings.jobApiServices %}
        <div class="form-check">
            {{ form_widget(choice, {'attr': {'class': 'form-check-input' }}
            ) }}
            <label class="form-check-label">
                {{ choice.vars.label | raw | nl2br }}
            </label>
        </div>
    {% endfor %}
</div>
<div class="d-flex justify-content-end">
    <input type="submit" class="btn btn-link" />
</div>
{{ form_end(formApiSettings) }}
