{{ form_start(formApi, {'attr' : {'data-turbo':"false" } }
) }}
<div class="d-flex align-items-stretch gap-3">
    <div class="flex-grow-1">
        {{ form_widget(formApi.name) }}
        {{ form_widget(formApi.logo) }}
        {{ form_widget(formApi.url) }}
        {{ form_widget(formApi.functionName) }}
    </div>
    {{ form_widget(formApi.description, {attr:{class:'flex-grow-1' }}
    ) }}
</div>

<button class="btn btn-link" name="edit">
    {{ button_label|default('Enregistrer') }}
</button>
{{ form_end(formApi) }}
