<div class=" card m-3 border rounded bg-white row col-xl-3 col-lg-4 col-12 " >
    <div class="card-body d-flex flex-column justify-content-between">
        <h4 class="card-title">
            {{ job.title  | default('job_title') | raw   }}
        </h4>
        <h5 class="card-title">
            {{ job.company | default('job_company') | raw  }}

        </h5>

        <h6 class="card-subtitle mb-2 text-body-secondary">
            {{ job.location  | default('job_location' ) | raw }}
        </h6>
        <p>
            Publié le
            {{ job.created | default('job_created') | raw }}
        </p>
        <p class="card-text">
            {{ job.description | default('job_description') | slice(0, 300) | raw }}
            ...
        </p>
        <p class="italic">
    <b> Type contrat</b> :  {{ job.type_contrat | default('job_type_contrat') | raw }}
        </p>
        <div class="d-flex justify-content-end gap-2 align-items-center">

            <button class='d-block btn btn-link' onclick="newJob({{job|json_encode}})">
                Ajouter la candidature
            </button>
            <a class='d-block' href="{{ job.link | default('job_link') }}" target="_blank">
                Visualiser
            </a>

        </div>
    </div>
</div>
