<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Suivi des candidatures
        </title>
        <link rel="icon" type="image/jpg" href="{{ asset('img/logo.jpg') }}" />

        {{ encore_entry_link_tags('login') }}

    </head>
    <body class="align">
    {% for type, messages in app.session.flashBag.all %}
    {% for message in messages %}
        {% if type == 'error' %}
            {% set type = 'danger' %}
        {% endif %}
        {% if type == 'message' %}
            {% set type = 'info' %}
        {% endif %}
        <div	class="alert alert-{{ type }} alert-dismissible fade show"	role="alert">
            {{ message|raw }}
            <button	type="button"	class="btn-close"	data-bs-dismiss="alert"	aria-label="Close"></button>
        </div>
    {% endfor %}
{% endfor %}
        <h1>
            Inscription
        </h1>
        <div class="grid">

            {{ include('user/_form.html.twig') }}
        </div>
    </body>
    <script src="{{ asset('/js/register.js') }}"></script>
</html>

