{{ form_start(form) }}
<div class="d-lg-flex justify-content-between gap-3">
<div>
    {{ form_widget(form.firstName) }}
    {{ form_widget(form.lastName) }}
    {{ form_widget(form.email) }}
    {{ form_widget(form.company) }}
</div>
    {{ form_widget(form.note) }}
</div>
    <button class="btn d-block ms-auto">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
